<html>

<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="./create-account.css">
</head>

<body>
    <div>
        <h1>Task Management App</h1>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="name-fields">
                <input #firstName type="text" id="firstName" name="FirstName" placeholder="First Name"
                    [(ngModel)]="user.FirstName" required>
                <input #lastName type="text" id="lastName" name="LastName" placeholder="Last Name"
                    [(ngModel)]="user.LastName" (focus)="checkLastName()" required>
            </div>
            <br>
            <input #email type="email" id="email" name="Email" placeholder="Email" [(ngModel)]="user.Email"
                (focus)="checkEmail()" (input)="emailValidate()" required>
            <span>{{emailError}}</span>
            <br>
            <input #password type="password" id="password" name="Password" placeholder="Password"
                [(ngModel)]="user.Password" (focus)="checkPassword()" (input)="passwordFormatValidate()" required>
            <br>
            <input #confirmPassword type="password" id="confirmPassword" name="Confirm Password"
                placeholder="Confirm Password" [(ngModel)]="this.user.ConfirmPassword" (focus)="checkConfirmPassword()"
                (input)="passwordValidate()" required>
            <span>{{passwordError}}</span>
            <br>
            <input type="file" accept="image/*" id="imageInput" (change)="onFileSelected($event)" hidden>
            <div class="upload-container">
                <img src="upload-icon.jpg" alt="Upload Image" class="upload-icon" />
                <label for="imageInput" class="custom-file-label"
                    (click)="checkProfileImg()">{{imageFileName()}}</label>
            </div>
            <br>
            <button type="submit">Create Account</button>
            <br>
            <a routerLink="/login">Already have an account? Login</a>
        </form>
    </div>
</body>

</html>