@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #f1f6f9;
    padding-top: 10vh;
    margin: 0;
}

div {
    padding: 2%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #212a3e;
    font-size: 2em;
    margin-top: 2%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input,
label {
    color: #212a3e;
    padding: 2% 5%;
    border: none;
    border-radius: 10px;
    border: 1px solid #212a3e;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    width: 90%;
}

input:focus {
    outline: none;
}

button {
    background-color: #9ba4b5;
    color: white;
    padding: 2% 10%;
    border: none;
    border-radius: 15px;
    font-size: 1.05em;
    cursor: pointer;
}

a {
    font-family: 'Inter', sans-serif;
    color: #212a3e;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.name-fields {
    display: flex;
    align-items: center;
    box-shadow: none !important;
    gap: 2%;
    padding: 0;
}

.custom-file-label {
    display: inline-block;
    transition: background-color 0.3s;
    cursor: pointer;
    color: grey;
    border: none;
    padding-left: 0;
}

.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #212a3e;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    padding: 0;
    box-shadow: none !important;
}

.upload-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
}