@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #f1f6f9;
    padding-top: 33vh;
    margin: 0;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #212a3e;
    font-size: 3em;
}

button {
    background-color: #9ba4b5;
    color: white;
    padding: 0.75% 3.75%;
    border: none;
    border-radius: 15px;
    font-size: 1.15em;
    cursor: pointer;
}