@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #f1f6f9;
    padding-top: 22vh;
    margin: 0;
}

div {
    padding: 2%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #212a3e;
    font-size: 2em;
    margin-top: 2%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    color: #212a3e;
    padding: 2% 5%;
    border: none;
    border-radius: 10px;
    border: 1px solid #212a3e;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    width: 75%;
}

input:focus {
    outline: none;
}

button {
    background-color: #9ba4b5;
    color: white;
    padding: 2% 10%;
    border: none;
    border-radius: 15px;
    font-size: 1.15em;
    cursor: pointer;
}

a {
    font-family: 'Inter', sans-serif;
    color: #212a3e;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    padding-top: 3%;
}

a:hover {
    text-decoration: underline;
}
